<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        <h1>Please Login to continue</h1>
        <main>
            <form class="product-form" action="/login" method="POST">
                <div class="form-control">
                    <label for="name">UserName: </label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-control">
                    <label for="pass">Password: </label>
                    <input type="password" name="pass" id="pass">
                </div>
                <button class="btn" type="submit">Login</button>
            </form>
        </main>
    </body>
</html>