body{
    position: relative;
    margin-top: 20px;
}
.navBar , .navBar-pageRef{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    cursor: context-menu;
    align-items: center;
}

.link{
    text-decoration: none;
}

.navBar{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}
@media screen and (max-width: 900px){
    .navBar-pageRef{
        flex-direction: column;
        transform: translate(75%);
    }
    .navBar{
        width: 100%;
        
    }
    
}

.navBar-logoBox{
    width: 15%;
    min-width: 120px;
}

.navBar-logoBox-img{
    width: 100%;
    
    cursor: pointer;
}

.navBar-pageRef{
    width: 80%;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
}
@media screen and (max-width: 900px){
    .navBar-pageRef{
        position: fixed;
        inset: 0 0 0 40%;
        flex-direction: column;
        row-gap: 25px;
        justify-content: center;
        background-color: hsl(0 , 0% , 0% , 0.5);
        backdrop-filter: blur(0.5);
        transition-duration: 0.4s;
    }
    
}

.navBar-pageRef-title{
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 21px;

    color: #000000;

    transition-duration: 0.4s;
    text-shadow: 2px 2px 100px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 900px){
    .navBar-pageRef-title{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }
    
}
.navBar-buttons-Login{
    padding: 0 40px;
    height: 4.5vh;
    font-family: 'Poppins' ,  sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #FFFFFF;
    transition-duration: 0.4s;

    background: #675CE8;;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.13);
    border-radius: 35px;
    border: none;

}
@media screen and (max-width: 900px){
    .navBar-buttons-Login{
        width: 80%;
        height: 2em;
        text-align: center;
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 900px){
    .navBar-toggle{
        z-index: 0;
        transition-duration: 0.4s;
        visibility: visible;
    }
}

.clickable:hover{
    background:  #5191F2;
    transform: scale(1.1);
    
}

.click:hover{
    transform: scale(1.3);
}