<html>
    <head>
        <link rel="stylesheet" href="../public/music.css">
    </head>

    <body>
        <h1>Contact-Us</h1>
        
        <header class="main-header">
            <button id="side-menu-toggle">Menu</button>
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a class="<%= path === '/home' ? 'active' : '' %>" href="/home">Home</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/concerts' ? 'active' : '' %>" href="/outconcerts">Concerts</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/articles' ? 'active' : '' %>" href="/outarticles">Articles</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/contact-us' ? 'active' : '' %>" href="/outcontact-us">Contact Us</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/donate' ? 'active' : '' %>" href="/outdonate">Donate
                        </a>
                    </li>  
                    <li>
                        <a class="<%= path === '/signout' ? 'active' : '' %>" href="/signout">
                            <button className='navBar-buttons-Login clickable' type='button' action="/">Sign Out</button>
                        </a>
                    </li> 
                </ul>
            </nav>
        </header>
    </body>
</html>